<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="../functions.js"></script>
    <link type="text/css" rel="stylesheet" href="../styles.css">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    {{> dropdown_menu}}
    <div>{{> table}}</div>
    {{> footer}}
</body>

</html>